# One process serves independent games, batching neural evaluations together.
numAnalysisThreads = 4
numSearchThreadsPerAnalysisThread = 1
nnMaxBatchSize = 16
maxVisits = 64
nnCacheSizePowerOfTwo = 17
nnMutexPoolSizePowerOfTwo = 14
logToStderr = true
reportAnalysisWinratesAs = BLACK
ignorePreRootHistory = false
analysisIgnorePreRootHistory = false
